<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
     <defaultDocument enabled="true">
         <files>
            <add value="default.asp" />
         </files>
      </defaultDocument>
        <rewrite>
            <rules>
             <rule name="aspts client" stopProcessing="true">
                    <match url="/" />
                    <action type="Rewrite" url="default.asp" />
                </rule>
                <rule name="aspts client" stopProcessing="true">
                    <match url="aspjs\/client\.js" />
                    <action type="Rewrite" url="/aspjs/js/client.js" />
                </rule>
                <rule name="aspjs router" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />                        
                        <add input="{REQUEST_URI}" pattern="aspts.*" />
                        <add input="{REQUEST_URI}" pattern="ts.*" />
                    </conditions>
                    <action type="Rewrite" url="default.asp" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="Custom">
            <remove statusCode="500" subStatusCode="-1"  />
            <remove statusCode="404"  subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="100" path="default.asp" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/aspjs/notfound.asp" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="notfound.asp" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="default.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>